{{ define "content" }}

<div class="max-w-lg mx-auto" id="index-container">
  <h1 class="font-black text-4xl py-8">
    {{ . | len }} Outstanding tickets:
  </h1>
  <ul class="">
    {{ range . }}
    <li class="">
        <a href="/ticket/{{ .Id }}" class="w-full h-full">
      <div class="my-8 p-8 bg-slate-200 rounded-lg shadow hover:shadow-xl transition-shadow">
        <h2 class="font-black text-2xl">{{ .Title }}</h2>
          <span class="font-black">Due:</span>
            <span
              x-data="{ due: '{{ .DueDate }}', fmtDate(){ return new Date(this.due).toLocaleDateString()} }"
              x-text="fmtDate()">
            </span> <br>
          <span class="font-black mr-1">Current Status:</span><span>{{ .Status }}</span>
      </div>
        </a>
    </li>
    {{ else }}
    <li> Nothing to show </li>
    {{ end}}
  </ul>
</div>
{{ end }}

{{ define "script"}}
{{ end }}