{{ define "content" }}
<div class="max-w-lg mx-auto pb-8" id="invoice-container">
  <div class="flex justify-between items-center py-8 mt-8">
    <h2 class="font-black text-2xl">
      Invoice id: {{ .Invoice.Id }}
    </h2>
    <p>Due: <span x-data="{ due: '{{ .Invoice.DueDate }}', fmtDate(){ return new Date(this.due).toLocaleDateString()} }" x-text="fmtDate()"></span></p>
  </div>
  <div>
    {{ range .Invoice.LineItems }}
    <ul class="bg-gray-100 rounded-lg my-4 p-4">
      <li class="flex justify-between">
        <div>
          <span class="font-black">Item:</span> {{ .Name }}
        </div>
        <div>
          <span class="font-black">Due:</span> <span data-currency="{{ .Amount }}"></span> <span class="font-black">USDC</span>
        </div>
      </li>
      <li>
        <span class="font-black">Description:</span> {{ .Description }}
      </li>
    </ul>
    {{ else }}
    <li> Nothing to show </li>
    {{ end}}
    <div class="bg-gray-100 rounded-lg my-4 p-4 flex justify-between">
      <span>Total:</span><div><span data-currency="{{ .Total }}"></span> <span class="font-black">USDC</span></div>
    </div>
  </div>
</div>
{{ end }}