{{ define "content" }}
<div class="max-w-lg mx-auto pb-8" id="ticket-container">
  <a href="/ticket"><< Back to Tickets</a>
  <div class="flex justify-between items-center py-8 mt-8">
    <h2 class="font-black text-2xl">
      #{{ .Id }} - {{ .Title }}
    </h2>
    <p>Due: <span x-data="{ due: '{{ .DueDate }}', fmtDate(){ return new Date(this.due).toLocaleDateString()} }"
        x-text="fmtDate()"></span></p>
  </div>
  <div class="flex-col w-full" x-data="statusDropdown({{ .Id }})">
    <button class="px-8 py-2 bg-blue-800 rounded-lg text-white flex items-center" @click="toggle">
      <span class="font-bold mr-1">Current Status:</span> <span :x-text="getStatus({{ .Status }})"></span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6 ml-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
    <ul x-show="open" class="px-4 bg-slate-50 shadow-sm absolute text-left">
      <button class="w-full text-left" @click="updateStatus(0)">
        <li class="py-2 px-4 rounded-lg transition-colors my-1 duration-150 hover:bg-slate-200">in backlog </li>
      </button>
      <button class="w-full text-left" @click="updateStatus(1)">
        <li class="py-2 px-4 rounded-lg transition-colors my-1 duration-150 hover:bg-slate-200">to-do </li>
      </button>
      <button class="w-full text-left" @click="updateStatus(2)">
        <li class="py-2 px-4 rounded-lg transition-colors my-1 duration-150 hover:bg-slate-200">doing </li>
      </button>
      <button class="w-full text-left" @click="updateStatus(3)">
        <li class="py-2 px-4 rounded-lg transition-colors my-1 duration-150 hover:bg-slate-200">done </li>
      </button>
    </ul>
  </div>
  <div>
    <div class="bg-gray-100 rounded-lg my-4 p-4">
      <span class="font-black">Description:</span>
      <div>
        {{ .Description }}
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "script" }}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('statusDropdown', (id) => ({
      open: false,
      toggle() {
        this.open = !this.open
      },
      updateStatus(statusIndex) {
        const status = ['in backlog', 'to-do', 'doing', 'done'][statusIndex]
        console.log({ id })
        return async function sendStatusUpdate() {
          fetch(`/api/ticket/${id}?newStatus=${status}`, { method: 'POST' })
         }
        },
      getStatus(status) {

      }
    }))
  })
</script>
{{ end }}